﻿@model Many.Models.MyModels.Transactions

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transactions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Money)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Money)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserReceived)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUserReceived.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserSent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUserSent.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
