﻿@model Many.Models.MyModels.Transactions

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Transactions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Money)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Money)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserReceived)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUserReceived.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserSent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUserSent.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
