﻿@model IEnumerable<Many.Models.MyModels.Transactions>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Localizer["Transactions"]</h2>

<p>
    <a asp-action="Create">@Localizer["Transactions_Create"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <lable>@Localizer["Date"]</lable>
            </th>
            <th>
                <lable>@Localizer["Sum"]</lable>
            </th>
            <th>
                <lable>@Localizer["Recipient"]</lable>
            </th>
            <th>
                <lable>@Localizer["Sender"]</lable>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Money)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUserReceived.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUserSent.Name)
                </td>

            </tr>
        }
    </tbody>
</table>
