﻿@using Microsoft.AspNetCore.Identity
@using Many.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">

            <li>
                <a asp-area="" asp-controller="Transactions" asp-action="Replenish" title="Manage">@Localizer["Balance"] @ViewBag.Balance</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@Localizer["Login"] @UserManager.GetUserName(User)</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">@Localizer["Log_Out"]</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">@Localizer["Registr"]</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">@Localizer["Log_In"]</a></li>
    </ul>
}
